<div class="container-fluid">
    <div class="row max-width pt-5 ps-5">
        <div class="col-sm-8 bg-standard">
            <h3>Nieuws:</h3>
            <div class="card card-size border-0 pt-3" *ngFor="let article of articles">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img img-fluid" src="{{article.img}}" alt="News Card">
                    </div>
                    <div class="col-sm-8 border-standard">
                        <div class="card-body">
                            <h5 class="card-title">{{article.title}}</h5>
                            <h6>{{article.releaseDate | date:'longDate'}}</h6>
                            <p class="card-text">{{article.summary}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 bg-standard ps-5">
            <app-info></app-info>
        </div>
    </div>
</div>